<!DOCTYPE html public>
<html>

<head>
  <title>payMe. | Invoice</title>
  <style>
    html,
    body {
      height: 1000px;
    }

    .background {
      display: flex;
      background: url("emailg3m.jpg") no-repeat top;
      height: 100%;
      flex-wrap: wrap;
    }

    .wrap {
      position: absolute;
      text-align: center;
      background: white;
      border-radius: 30px;
      height: 40rem;
      width: 25%;
      min-width: 320px;
      top: 20%;
      left: 20%;
    }

    #feat {
      background: #E86C62;
      font-size: x-large;
      width: 65%;
      padding: 4%;
      border-radius: 10px;
    }

    #feat:hover {
      background: #22CFB1;
    }

    #money {
      font-size: 50px;
    }

    a {
      text-decoration: none;
      color: white;
    }

    b {
      color: white;
    }

    h2 {
      font-weight: 100;
    }
  </style>
</head>

<body>
  <div class="background">
    <div class="wrap">
      <div class="greet">
        <h1>Hello
          <br> {{name}}!</h1>
      </div>
      <br>
      <div class="message">
        <h2>Our records are showing
          <br> that you have an outstanding
          <br> invoice with {{company}}
          <br> in the amount of:</h2>
      </div>
      <br>
      <div class="amount">
        <h1 id="money">${{amount}}</h1>
      </div>
      <br>
      <div class="below">
        <h3>&nbsp;To pay your invoice,
          <br> simply click below...</h3>
      </div>
      <div class="button">
        <a href="{{URL}}/payinvoice/{{invoice}}">
          <button id="feat">
            <b>Pay Invoice</b>
          </button>
        </a>
      </div>
    </div>
  </div>
</body>

</html>